{% extends "onlinestore/base.html" %}
{% block content %}
    {% for product in products %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h1 class="mr-2">{{ product.name }}</h1>
            </div>
            <h3><a class="article-title"> Description: {{ product.description }}</a></h3>
            <h3><a class="article-title"> Price: {{ product.price }}</a></h3>
            <p class="article-content">Stock: {{ product.stock }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}